<script defer src="/js/crypto.js"></script>

<p id="stock-price">---</p>


<p id="coin-1">ETH</p>
<p id="currency-1">USD</p>
<p id="date-1">05.08.2020</p>
<p id="purchase-price-1"></p>
<p id="purchase-cost-1"></p>
<p id="current-price-1"></p>
<p id="current-cost-1"></p>
<p id="profit-1"></p>

{{#each coinList}}
<p>{{this}}</p>
{{/each}}
