main {
  margin-left: 40px;
  margin-right: 40px;
}

/* ------- deals ------- */
/* .formDeal {
  max-width: 700px;
} */

.err {
  color: red;
}

.hidden {
  display: none;
}

.dealsTable {
  margin-top: 30px;
}

/* ------- main ------- */
.cursor{
  cursor: pointer;
}

.coin-icon {
  width: 24px;
  height: 22px;
}

.green-text{
  color: green;
}

.red-text{
  color: red;
}

.search-icon {
  width: 20px;
  height: 20px;
}

/* login/register */
.register-div {
  flex: 1 1 auto; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

.register-text {
  align-self: center; 
  color: #156fd0;
  margin-top: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.err {
  color: red;
}

.hidden {
  display: none;
}
